/* You can add global styles to this file, and also import other style files */
html {
    height: 100vh;
}

main, body {
    height: 100%;
}

  /* label color */
.input-field label {
    color: #000;
}
/* label focus color */
.input-field input[type=text]:focus + label {
    color: #000;
}
/* label underline focus color */
.input-field input[type=text].ng-invalid.ng-touched:focus {
    border-bottom: 1px solid red;
    box-shadow: 0 1px 0 0 red;
}
/* valid color */
/* .input-field input[type=text].ng-valid {
border-bottom: 1px solid #000;
box-shadow: 0 1px 0 0 #000;
} */
/* invalid color */
.input-field input[type=text].ng-invalid.ng-touched {
    border-bottom: 1px solid red;
    box-shadow: 0 1px 0 0 red;
}
/* icon prefix focus color */
.input-field .prefix.active {
    color: #000;
}

.material-icons {
    cursor: pointer;
    vertical-align: middle;
}