<div class='card '>
  <div class='card-content'>
    <form [formGroup]="form">
      <div class="row">
        <div class="col s12">
          <div class="row">
            <div class="input-field col s6">
              <input
                [(ngModel)]="listItens.name"
                formControlName="name"
                class="validate"
                id="name"
                type="text"
              >
              <label for="name">Item Name</label>
            </div>
            <div class="input-field col s6">
              <input
                [(ngModel)]="listItens.author"
                formControlName="author"
                id="author"
                class="validate"
                type="text"
              >
              <label for="author">Author</label>
            </div>
          </div>
        </div>

        <div class='col s12' style="display: flex; justify-content: center;">
          <button
            [disabled]="form.status !== 'VALID' "
            (click)="Submit()"
            class="waves-effect waves-light btn">
              button
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<br><br>

<!-- <div class='card'>
  <div class='card-content'>
    <h4 class='list-header'>Itens created now</h4>
    <ul class="collection" *ngIf="itensCreated.length !== 0">
      <li *ngFor="let itens of itensCreated;">
        <a class="collection-item waves-effect waves-teal">
          {{itens.item_name}}
          <a
            class='list-author'>
            {{itens.author}}
          </a>
        </a>
      </li>
    </ul>
  </div>
  <div class='card-action' style='text-align: center;'>
    <a href='#'>
      To update/edit, delete or to see all itens, click here
    </a>
  </div>
</div> -->
