.container {
    display:flex;
    justify-content: center;
    height: 100%;
}
.card {
    margin: 3rem 0;
    height: 30%;
}

/* on items collection */
.collection {
    margin: 1.5rem 0 1rem 0;
    display: block;
    color: #26a69a;
}

.collection li a:not(.active) {
    -webkit-transition: .3s;
    transition: .3s;
    color: #26a69a;
}

li:hover {
    cursor: pointer;
    background: #ddd;
    -webkit-transition: .3s;
    transition: 0.3s
}

